<html>
    <head>
        <title>Option Screener</title>
        <style>
            .in-the-money {
                font-weight: bold;
                color: green;
            }
        </style>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    </head>
    <body>
        <div class="ui_container">
            <h2>Option Screener</h2>

            {% block content %}
            {% endblock %}
        </div>

    </body>
</html>