<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multi-leg Option Contract Graph</title>
    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</head>
<body>
    <h1>Multi-leg Option Contract Graph</h1>

    <!-- Form to select contract parameters -->
    <form id="optionForm">
        <label for="symbol">Select Symbol:</label>
        <select id="symbol">
            <!-- Populate symbols dynamically based on available options -->
            {% for symbol in unique_symbols %}
                <option value="{{ symbol }}">{{ symbol }}</option>
            {% endfor %}
        </select>
        <label for="expirationDate">Select Expiration Date:</label>
        <select id="expirationDate">
            {% for expiration_date in expiration_dates %}
            <option value="{{ expiration_date }}">{{ expiration_date }}</option>
            {% endfor %}
        </select>

        <!-- Button to add a new leg -->
        <button type="button" onclick="addLeg()">Add Leg</button>
        <button type="button" onclick="generateChart()">Generate Chart</button>
        <button type="button" onclick="goToOptions()">Back To Options Table</button>
    </form>

    <!-- Canvas to display the Chart -->
    <div style="width: 80%;">
        <canvas id="myChart"></canvas>
    </div>

    <script>
        function addLeg() {
            const optionForm = document.getElementById('optionForm');
            const selectedSymbol = document.getElementById('symbol').value;

            // Fetch strike prices for the selected symbol
            fetch(`/get_strike_prices?symbol=${selectedSymbol}`)
                .then(response => response.json())
                .then(data => {
                    // Create and append the legsContainer div
                    const legsContainer = document.createElement('div');
                    legsContainer.id = 'legsContainer'; // Assign ID to the container
                    optionForm.appendChild(legsContainer);

                    const newLeg = document.createElement('div');
                    newLeg.classList.add('leg');
                    newLeg.innerHTML = `
                        <label>Select Leg Type:</label>
                        <select class="legType">
                            <option value="Buy_Put">Buy Put</option>
                            <option value="Sell_Put">Sell Put</option>
                            <option value="Buy_Call">Buy Call</option>
                            <option value="Sell_Call">Sell Call</option>
                            <!-- Add other options for the leg type -->
                        </select>
                        <!-- Newly added dropdown for strike prices -->
                        <label for="strikePrices">Select Strike Price:</label>
                        <select class="legStrikePrice"></select>
                        <button type="button" onclick="removeLeg(this)">Remove Leg</button>
                    `;
                    legsContainer.appendChild(newLeg);

                    // Populate the strike prices dropdown for the newly added leg
                    const legStrikePriceDropdown = newLeg.querySelector('.legStrikePrice');

                    data.strikePrices.forEach((strikePrice, index) => {
                        const option = document.createElement('option');
                        option.value = strikePrice;
                        option.text = `Strike Price: ${strikePrice} - Premium: ${data.strikePremiums[index]}`;
                        legStrikePriceDropdown.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Error fetching strike prices:', error);
                });
        }


        function removeLeg(button) {
            const legDiv = button.parentElement;
            legDiv.parentElement.removeChild(legDiv);
        }

        async function generateChart() {
            const expirationDate = document.getElementById('expirationDate').value;
            const legs = document.querySelectorAll('.leg');

            const selectedSymbol = document.getElementById('symbol').value;
            const currentStockPrice = await fetchCurrentStockPrice(selectedSymbol);
            console.log(currentStockPrice)

            // Calculate the range for the x-axis based on the current stock price
            const minStockPrice = currentStockPrice - 20; // 20 below the current stock price
            const maxStockPrice = currentStockPrice + 20; // 20 above the current stock price

            // Chart.js configuration
            const chartOptions = {
                // Chart configuration options
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: `Price of ${selectedSymbol} by ${expirationDate}`,
                        },
                        ticks: {
                            callback: function (value, index, values) {
                                return value.toFixed(0); // Display rounded whole numbers on the x-axis
                            },
                        },
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Premium ($)',
                        },
                        ticks: {
                            callback: function (value, index, values) {
                                return `$${(value * 100).toFixed(2)}`; // Display premium multiplied by 100 with $ sign
                            },
                        },
                    },
                }
                // plugins: {
                //     verticalLine: {
                //         x: currentStockIndex, // Draw the vertical line at the current stock price
                //         borderColor: 'red',
                //         borderWidth: 1,
                //         borderDash: [5, 5],
                //         label: {
                //             enabled: true,
                //             content: `Current Stock Price: ${currentStockPrice.toFixed(2)} Profit/Loss: ${currentStockProfitLoss.toFixed(2)}`,
                //             position: 'top',
                //         },
                //     },
                // },
            };

            const chartData = {
                labels: Array.from({ length: maxStockPrice - minStockPrice + 1 }, (_, i) => minStockPrice + i), // Stock price labels from minStockPrice to maxStockPrice
                datasets: [],
            };

            let totalProfitLoss = Array(maxStockPrice - minStockPrice + 1).fill(0); // Initialize an array to store total profit/loss

            legs.forEach((leg, index) => {
                const legType = leg.querySelector('.legType').value;

                const selectedOption = leg.querySelector('.legStrikePrice').selectedOptions[0].text; // Get the selected option
                const { strikePrice, premium } = extractNumbersFromText(selectedOption);

                // Calculate profit/loss for each stock price in the range
                for (let stockPrice = minStockPrice; stockPrice <= maxStockPrice; stockPrice += 1) {
                    let legProfitLoss = 0;

                    if (legType === 'Buy_Call') {
                        // Calculate profit/loss for Buy Call option
                        if (stockPrice <= Number(strikePrice)) {
                            legProfitLoss = -premium; // Zone where the option would expire worthless
                        } else if (stockPrice > Number(strikePrice) && stockPrice <= Number(strikePrice) + Number(premium)) {
                            legProfitLoss = stockPrice - Number(strikePrice) - premium; // Zone where the option has value but not enough
                        } else {
                            legProfitLoss = stockPrice - Number(strikePrice); // Zone where the option value exceeds premium paid
                        }
                    } else if (legType === 'Buy_Put') {
                        if (stockPrice >= Number(strikePrice)) {
                            legProfitLoss = -premium; // Zone where the option would expire worthless
                        } else if (stockPrice < Number(strikePrice) && stockPrice >= Number(strikePrice) - Number(premium)) {
                            legProfitLoss = Number(premium) - (Number(strikePrice) - stockPrice); // Zone where the option has value but not enough
                        } else {
                            legProfitLoss = stockPrice - Number(strikePrice); // Zone where the option value exceeds premium paid
                        }
                    }

                    // Draw a vertical line at the strike price of the leg
                    if (stockPrice === Number(strikePrice)) {
                        chartOptions.plugins.verticalLine.x = currentStockIndex; // Replace with the appropriate index of the strikePrice
                        chartOptions.plugins.verticalLine.label.content = `Strike Price: ${strikePrice}`;
                    }

                    totalProfitLoss[stockPrice - minStockPrice] += legProfitLoss; // Add leg's profit/loss to the total array
                }
            });

            // Calculate the profit/loss for the current stock price
            const currentStockIndex = currentStockPrice - minStockPrice;
            const currentStockProfitLoss = totalProfitLoss[currentStockIndex];

            chartData.datasets.push({
                label: `Combined Legs`,
                data: totalProfitLoss,
                // Other dataset properties like colors, etc.
            });

            // Create and render the chart
            const ctx = document.getElementById('myChart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'line',
                data: chartData,
                options: chartOptions,
            });
        }

        function goToOptions() {
            console.log("OPTIONS PAGE")
            window.location.href = '/';
        }

        // Function to fetch the current stock price from the backend or an API
        async function fetchCurrentStockPrice(selectedSymbol) {
            const response = await fetch(`/get_current_stock_price?symbol=${selectedSymbol}`);
            const data = await response.json();
            return data.currentStockPrice;
        }

        function extractNumbersFromText(text) {
            const regex = /Strike Price: (\d+(?:\.\d+)?) - Premium: (\d+(?:\.\d+)?)/;
            const match = text.match(regex);

            if (match && match.length === 3) {
                const strikePrice = parseFloat(match[1]); // Extracted strike price as a number
                const premium = parseFloat(match[2]); // Extracted premium as a number
                return { strikePrice, premium };
            } else {
                return { strikePrice: NaN, premium: NaN }; // Invalid format or no match found
            }
}
    </script>
</body>
</html>
