<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Chart</title>
    <!-- Include Chart.js library -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.0.0/chartjs-plugin-datalabels.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    <style>
        /* Dark mode styles */
        .dark-mode {
            background-color: #1f1f1f;
            color: #ffffff;
        }

        .dark-mode .ui.button {
                background-color: #333; /* Change button background color in dark mode */
                color: #fff; /* Set button text color to light in dark mode */
                /* Add any other styles you want for buttons in dark mode */
        }

        .right {
            /* Add styles to the button */
            position: absolute;
            right: 10px;
        }
        .button-container {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 20px;
        }
    </style>
</head>
<body onload="loadData()">
    <h1>Stock Chart</h1>
    <div class="button-container">
        <select id="timeframeSelect">
            <option value="7">1 Week</option>
            <option value="30">1 Month</option>
            <option value="90">3 Month</option>
            <option value="180">6 Month</option>
            <option value="360" selected>1 Year</option>
        </select>
        <button id="options_button" onclick="goToOptions()" class="ui button">View Options Table</button>
        <button id="options_builder_button" onclick="goToOptionsBuilder()" class="ui button">View Options Builder</button>
        <button onclick="toggleDarkMode()" class="ui button right">Toggle Dark Mode</button>

    </div>
    <canvas id="stockChart" width="800" height="400"></canvas>

    <script>
        // Get the data from the context sent from the server
        var chartData = {{ chart_data | safe }}

        var keys = Object.keys(chartData);
        var datasets = [];
        var labels = [];

        var predefinedColors = [
            '#FF6633', '#FFB399', '#FF33FF', '#FFFF99', '#00B3E6',
            '#E6B333', '#3366E6', '#999966', '#99FF99', '#B34D4D',
            '#80B300', '#809900', '#E6B3B3', '#6680B3', '#66991A',
            '#FF99E6', '#CCFF1A', '#FF1A66', '#E6331A', '#33FFCC',
            '#66994D', '#B366CC', '#4D8000', '#B33300', '#CC80CC',
            '#66664D', '#991AFF', '#E666FF', '#4DB3FF', '#1AB399',
            '#E666B3', '#33991A', '#CC9999', '#B3B31A', '#00E680',
            '#4D8066', '#809980', '#E6FF80', '#1AFF33', '#999933',
            '#FF3380', '#CCCC00', '#66E64D', '#4D80CC', '#9900B3',
            '#E64D66', '#4DB380', '#FF4D4D', '#99E6E6', '#6666FF'
        ];

        // Change to darker colors
        var darkerColors = [
            '#FF3300', '#FF6600', '#FF0099', '#FFFF00', '#00B3B3',
            '#E65C00', '#0059B3', '#808000', '#33FF33', '#990000',
            '#666600', '#4C9900', '#CC0000', '#003366', '#336600',
            '#FF99CC', '#006600', '#CC0099', '#B3B300', '#006666',
            '#800000', '#333300', '#660066', '#004C99', '#800080',
            '#4C4C00', '#1A6600', '#99004C', '#1A6666', '#004C4C',
            '#800000', '#004D00', '#800040', '#663300', '#1A6600',
            '#804000', '#4C9900', '#330033', '#00331A', '#666699',
            '#4C4C4C', '#666666', '#000000', '#333333', '#808080'
        ];

        // Use darker colors for better visibility
        predefinedColors = darkerColors.slice(0, keys.length);

        keys.forEach(function(key, index) {
            var data = chartData[key];
            var currentLabels = data.labels.map(function(timestamp) {
                return new Date(timestamp).toLocaleDateString();
            });

            if (labels.length === 0) {
                labels = currentLabels;
            }

            var values = data.values;

            datasets.push({
                label: key + ' Stock Price',
                data: values,
                borderColor: predefinedColors[index % predefinedColors.length],
                borderWidth: 1,
                fill: false,
                tension: 0.1
            });
        });

        var ctx = document.getElementById('stockChart').getContext('2d');
        const customLegend = {
            id: 'customLegend',
            afterDraw: (chart, args, options) => {
                const { _metasets, ctx} = chart;
                ctx.save();

                _metasets.forEach((meta) => {
                    // console.log(meta)

                    ctx.font = 'bolder 12px Arial';
                    ctx.fillStyle = meta._dataset.borderColor
                    ctx.fillText(calculateStockReturns(meta._dataset.data).toFixed(2) + '%', meta.data[meta.data.length - 1].x + 10, meta.data[meta.data.length - 1].y)
                })
                // console.log(_metasets)
            }
        }

        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: datasets,
                backgroundColor: 'rgba(100, 100, 255, 0.2)',
                borderColor: 'rgba(100, 100, 255, 1)'
            },
            options: {
                layout: {
                    padding: {
                        right: 100
                    }
                },
                scales: {
                    y: {
                        beginAtZero: false
                    }
                },
                tension: 0.4,
                plugins: {
                    legend: {
                        display: true
                    }
                }
            },
            plugins: [customLegend]
        });

        function toggleDarkMode() {
            document.body.classList.toggle('dark-mode');
            localStorage.setItem('darkMode', document.body.classList.contains('dark-mode'));
        }

        function goToOptions() {
            console.log("OPTIONS PAGE")
            window.location.href = '/';
        }

         function goToOptionsBuilder() {
            console.log("OPTIONS BUILDER PAGE")
            window.location.href = '/options_builder';
        }
        // Load data from localStorage
        function loadData() {
            if (localStorage.getItem('timeframe')) {
                document.getElementById('timeframeSelect').value = localStorage.getItem('timeframe');
                updateChartData(parseInt(localStorage.getItem('timeframe')));
            }

            if (localStorage.getItem('darkMode') === 'true') {
                document.body.classList.add('dark-mode');
            }
        }
        function calculateStockReturns(data) {
            return 100 * (data[data.length - 1] - data[0]) / data[0];
        }

        // Function to update the chart data
        function updateChartData(timeframe) {
            localStorage.setItem('timeframe', timeframe);
            var filteredLabels = labels.slice(-timeframe);
            var filteredDatasets = datasets.map(function(dataset) {
                var slicedData = dataset.data.slice(-timeframe);
                return { ...dataset, data: slicedData };
            });

            if (myChart) {
                myChart.destroy();
            }

            myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: filteredLabels,
                    datasets: filteredDatasets
                },
                options: {
                    layout: {
                        padding: {
                            right: 100
                        }
                    },
                    scales: {
                        y: {
                            beginAtZero: false
                        }
                    }
                },
                plugins: [customLegend]
            });
            // Update the legend based on the selected timeframe
            customLegend.afterDraw = (chart, args, options) => {
                const { _metasets, ctx} = chart;
                ctx.save();

                _metasets.forEach((meta) => {
                    ctx.font = 'bolder 12px Arial';
                    ctx.fillStyle = meta._dataset.borderColor;
                    ctx.fillText(calculateStockReturns(meta._dataset.data).toFixed(2) + '%', meta.data[meta.data.length - 1].x + 10, meta.data[meta.data.length - 1].y);
                });
            };
        }

        // Event listener for timeframe selection change
        var select = document.getElementById('timeframeSelect');
        select.addEventListener('change', function() {
            var timeframe = parseInt(select.value); // Get the selected timeframe
            // Update chart data based on the selected timeframe
            updateChartData(timeframe);
        });

    </script>
</body>
</html>